<div class="container">
  <h3 mat-dialog-title>Issue id: {{data.id}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="primary">
        <input matInput #input class="form-control" placeholder="name" [(ngModel)]="data.name" name="name" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Toppings</mat-label>
        <mat-select [(ngModel)]="data.category" multiple>
          <mat-option *ngFor="let category of categories" [value]="category">{{category.title}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="primary">
        <textarea matInput #input class="form-control" placeholder="Tags" [(ngModel)]="data.tags" name="tags" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button type="submit" [disabled]="!formControl.valid" (click)="stopEdit()">Save</button>
      <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
