.login-container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

form {
  width: 100%;
}

.login-content {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.login-toolbar {
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  display: block;
}

.mat-raised-button {
  width: 100%;
  margin-top: 15px;
}

.error-message{
  margin-bottom: 10px;
  color: red;
}
