.user-detail-container {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
}
.user-expansion-panel {
  width: 100%;
}

.user-more-icon {
  cursor: pointer;
  font-size: 30px;
}
.user-detail-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.user-pagination-container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 40px;
}
